<ion-header>
  <ion-toolbar>
    <ion-title>user-page</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content >
  <ion-card>
      <ion-card-header>
        <ion-card-title>User Permissions</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    <ion-card-content>  

      <ion-list *ngFor="let role of (decoded?.permissions ?? []) ">
        <ion-item>
          <ion-label>{{role}}</ion-label>
        </ion-item>
     </ion-list>  
    
    <ion-item *ngIf="auth.token && showToken">
      <ion-label>Token</ion-label>
      <ion-textarea [ngModel]="auth.token" name="Active JWT">
      </ion-textarea>
    </ion-item>

    </ion-card-content>
      
    <ion-footer>
      <ion-toolbar>
        <ion-row style="display: flex; justify-content: end; padding: 8px;">
          <ion-button *ngIf="!auth.token" [href]="loginURL">Log In</ion-button>
          <ion-button *ngIf="auth.token" (click)="toggleToken()">{{tokenButton}}</ion-button>      
          <ion-button *ngIf="auth.token" (click)="logOut()">Log Out</ion-button>
        </ion-row>
      </ion-toolbar>
    </ion-footer>
 </ion-card>
  
</ion-content>
