<ion-header>
  <ion-toolbar style="text-align: center">
    <ion-title><b>Uda-Spice Latte</b> Cafe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(drinks | async)">
  <div class="item-menu">
    <ion-card class="card-item" *ngFor=" let drink of drinks | async" 
      (click)="openForm(drink)">
      <ion-card-header>
        <ion-card-title>{{drink.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-drink-graphic [drink]="drink"></app-drink-graphic>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


<ion-fab slot="fixed" vertical="bottom" horizontal="end" 
  *ngIf="auth.can('post:drinks')" (click)="openForm(null)">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>  
</ion-fab>