@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap');

.item-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}

.card-item {
    margin-top: 4px;
    margin-bottom: 4px;
    align-items: center; 
    display: flex; 
    flex-direction: column; 
    cursor: pointer;
    font-size: 1em;
    min-width: 200px!important;
}

.card-add-item {
    opacity: .7;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;

}
ion-title {
    font-family: 'Playfair Display', serif;  
    font-size: 1.7em;
}